@font-face {
    font-family: 'Bukhari Script';
    font-style: normal;
    font-weight: 400;
    src: local('Bukhari Script'), url(Bukhari.ttf) format('truetype');
    unicode-range: U+0000-00FF;
}
html, body {
    height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Bukhari Script", sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background: -webkit-linear-gradient(top left, #54c785, #36b4db);
    background: linear-gradient(to bottom right, #54c785, #36b4db);
    overflow: hidden;
}
h1, h2 {
    margin: 0;
    color: white;
    font-weight: 100;
}
h1 {
    font-size: 8em;
    margin-bottom: -15px;
    text-shadow: -2px -1px lightgrey;
}
h2 {
    font-size: 2.5em;
    text-shadow: -1px -1px #ccc;
}

.social {
    margin-top: 7px;
}
.social a {
    width: 50px;
}
.social img {
    width: 40px;
    cursor: pointer;
    margin: 10px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}
.social a:hover img {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transition: .4s;
            transition: .4s;
}
